#wp-admin-bar-languages,
#ml_box,

#toplevel_page_mlang ul li:nth-child(2),
#toplevel_page_mlang ul li:nth-child(4),
#toplevel_page_mlang ul li:nth-child(5) {
    display: none !important;
}

.stringstranslations #name,
.stringstranslations .column-name,
.stringstranslations #context,
.stringstranslations .column-context,
.stringstranslations .translations label {
    display: none;
}