/**
 * 29LT Bukra Font Family
 * Primary font for the entire website
 * @package beit
 */

/* 29LT Bukra Variable Font - Supports all weights (100-900) */
@font-face {
    font-family: '29LT Bukra';
    src: url('../../../public/fonts/29LT Bukra Variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 29LT Bukra Light - 300 */
@font-face {
    font-family: '29LT Bukra';
    src: url('../../../public/fonts/29ltbukralight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* 29LT Bukra Regular - 400 */
@font-face {
    font-family: '29LT Bukra';
    src: url('../../../public/fonts/29ltbukraregular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('../../../public/fonts/FontsFree-Net-bokra.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 29LT Bukra Bold - 700 */
@font-face {
    font-family: '29LT Bukra';
    src: url('../../../public/fonts/29ltbukrabold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* 29LT Bukra Bold Italic - 700 */
@font-face {
    font-family: '29LT Bukra';
    src: url('../../../public/fonts/29ltbukrabolditalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}